/*
 * #e67300; orange. main color
 * #ff8000; light-orange. also main color
 * #333; black. main color
 * #111; dark-black. also main color
 */

.hat {
	position: relative;
	width: 100%;
}
.hat img {
	width: 100%;
	background-color:#404040;
}

.search {
	font-size: 14px;
	text-align: right;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 15px;
}
.search input.search-button {
	width: 25px;
	height: 25px;
	background-color: white;
	border: 3px solid white;
	border-radius: 3px;
	background-image: url(../img/search-icon.png);
	background-size: 19px 19px;
}	
.search input.search-button:hover {
	box-shadow: 0 0 50px 1px #ff8000;
}	

#desk {
	font-size: 14px;
	margin: 0 auto;
	border-collapse: collapse;
	width: 94%;
	color: white;
	border: 0;
	border-radius: 5px;
/*	box-shadow: 0 80px 380px 5px; */
	background-color:#404040;
	margin-bottom: 20px;

}
#desk th {
	color: #bfbfbf;
}
#desk tr:nth-child(even) {background-color: #666666}

#desk td {
	min-height: 50px;
    padding: 15px;
}

#desk tr.questions {
	background-color: transparent;
}

table.questions {
	border-collapse: collapse;
	width: 95%;
	float: right;
}

table.questions tr {
	background-color: #595959;
}
table.questions tr:nth-child(even) {background-color: #737373}
table a {
	color: white;
	text-decoration: none;
}
