/*
 * #e67300; orange. main color
 * #ff8000; light-orange. also main color
 * #333; black. main color
 * #111; dark-black. also main color
 * #ffcc99; orange
 */


.main_img {
	margin-top: 3%;
	margin-bottom: 1%;
	text-align: center;
}
.main_img img {
	width: 60%;
}

.arrow{
	opacity: 1;
    transition: opacity 150ms linear, transform 150ms linear;  /* Плавное изменение прозрачности и увеличения */
	padding-top: 15%;
	text-align: center;
}
.arrow img{
	width: 10%;
}

.arrow a:hover img{
    opacity: 0.7; /* Высветляем картинку, но она становится темнее, так как под ней черный фон */
    transform: scale(2); /* Увеличение картинки */
}


.Main_Site {
	margin-left: 25%;
	width: 50%;
	margin-right: 25%;
	padding-top:20px;
	padding-bottom: 50px;

}

.Main_Site h1 {
	text-align: center;
	font-style: italic;
	font-family: serif;
	font-size: 30pt;
}


.Main_Site table{
	/* margin-top:100px; */
	width: 100%;
	border: 1px;
	border-radius: 15px;
	border-style: solid;
	background-color: #fff;
/*	box-shadow: 0 80px 380px 5px; */
}



.Main_Site tr:nth-child(3n-1) {}

.Main_Site td {
    padding: 0px;
    text-align: center;
    /*
    background-color: white;
	
    border-style: solid;
	border-color: black;
	border-collapse: separate;
	border-width: 1px;
	*/
	
}

.Main_Site img{
	width: 50%;
}

.Main_Site p{
	font-style: italic;
	font-size: 20px;
}


.Main_Site a{
	text-decoration: none;
	color: black;
}



.Main_Site div{
    opacity: 1;
    transition: opacity 124ms linear, transform 124ms linear;  /* Плавное изменение прозрачности и увеличения */
    
}
.Main_Site a:hover div{
    opacity: 0.9; /* Высветляем картинку, но она становится темнее, так как под ней черный фон */
    transform: scale(1.4); /* Увеличение картинки */
}

.form_news{
	margin-left: 25%;
	width: 50%;
	margin-right: 25%;
	position: absolute;
	margin-top: 30%;
	padding-bottom: 50px;
}

.form_news table{
	margin-top: 50px;
	width: 100%;
	border: 1px;
	border-radius: 15px;
	border-style: solid;
	background-color: #fff;
}

.form_news td {

}
