/*
 * #e67300; orange. main color
 * #ff8000; light-orange. also main color
 * #333; black. main color
 * #111; dark-black. also main color
 */

body {
	background-color: #ffcc99;
	margin: 0;
}

ul.menu {	
/*	position: fixed; */
	top: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

ul.menu li {
	float: left;
}

ul.menu li a {
	display: block;
	color: white;
	text-align: center;
	padding: 8px 16px;
	text-decoration: none;
}

ul.menu li a:hover {
	background-color: #111;
	color: white;
}

ul.menu .active {
	background-color: #e67300;
	color: white;
}
ul.menu li.active a:hover{
	background-color:#ff8000;
}
